html
    head Login
        link(rel='stylesheet', href='/stylesheets/form-style-7.css')
    body
        form.form-style-7
            ul
                li
                    label(for="useremail") Email
                    input#useremail(type="email" name="email")
                    span Enter your usename here
                li
                    label(for="userpass") Password
                    input#userpass(type="password" name="password")
                    span Enter your password here
                li
                    input(type="submit" value"Login")


-function adjust_textarea(h) {
    -h.style.height = "20px";
    -h.style.height = (h.scrollHeight) + "px";
-}