html
    head
        title Send Message
        link(rel='stylesheet', href='/stylesheets/form-style-3.css', type="text/css")
    body
        div.form-style-3
            form(action="/send_message" method="post" enctype="multipart/form-data")
                fieldset
                    legend Message
                    label(for="message")
                        span Message
                            span.required *
                        textarea#message(name="message" class="textarea-field")

                    label
                        span &nbsp;
                        input(type="submit" value="Send Message")